<% if flash[:notice] %>
 <%= flash[:notice] %>
<% end %>

<% @tweets.each do |t| %>
 <% t1 = Timecurrent %>
 <% t2 = tdate %>
 <p><%= t.message %></p>
 <p><%= t1-t2 %></p>
 <p><%= link_to '新規追加', 'tweets/new' %></p>
 <p><%= link_to '削除', "tweets/#{tweet.id}", method: :delete %></p>
 <p><%= link_to '編集', "tweets/#{tweet.id}/edit" %></p>
<% end %>