<% if @tweet.errors.present? %>
<h3>エラーがあります</h3>
<ul>
 <% @tweet.errors.full_message.each do |msg| %>
  <li><%= msg %></li>
 <% end %>
</ul>
<% end %>

<% form_for @tweet, url: {action: :create} do |t| %>
 <p><%= t.label :message, '本文' %>
 <%= t.text_field :message %></p>
 <%= @tweet.tdate = Timecurrent  %>
 <%= t.submit '投稿' %>
<% end %>